.frame-child102 {
  position: absolute;
  top: 0px;
  left: -1px;
  background-color: var(--color-white);
  width: 1442px;
  height: 96px;
}
.hello-user4 {
  width: 165px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.group-child7 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke);
  width: 344px;
  height: 40px;
}
.search-for-stocks4 {
  position: absolute;
  top: 12px;
  left: 46px;
}
.search-normal-icon4 {
  position: absolute;
  height: 40%;
  width: 4.65%;
  top: 30%;
  right: 91.57%;
  bottom: 30%;
  left: 3.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.rectangle-parent7 {
  width: 344px;
  position: relative;
  height: 40px;
}
.notification-icon4 {
  width: 24px;
  position: relative;
  height: 24px;
}
.frame-child103 {
  width: 48px;
  position: relative;
  border-radius: 50%;
  height: 48px;
  object-fit: cover;
}
.group-parent5 {
  width: 480px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  font-size: var(--font-size-sm);
  color: var(--color-darkgray-300);
}
.hello-user-parent2 {
  position: absolute;
  top: 24px;
  left: 348px;
  width: 1061px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-397xl);
  font-size: var(--font-size-xl);
  color: var(--color-gray-400);
}
.user-panel4 {
  position: relative;
  font-size: var(--font-size-sm);
  color: var(--color-gray-300);
}
.material-symbolsdashboard-out-icon4 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.material-symbolsdashboard-out-parent2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper13 {
  width: 275px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-146xl) var(--padding-base)
    var(--padding-xl);
  box-sizing: border-box;
  cursor: pointer;
}
.bytesizeportfolio-parent2 {
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-xl);
  gap: var(--gap-3xs);
  cursor: pointer;
}
.icon-park-outlinestock-market-parent2 {
  width: 275px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.material-symbolswallet-sharp-parent2 {
  width: 230px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.mdibank-transfer-parent2 {
  width: 275px;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavender-100);
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  color: var(--color-blue);
}
.user-panel-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-wrapper12 {
  position: absolute;
  top: 124px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent73 {
  position: absolute;
  top: 1046px;
  left: 24px;
  border-radius: var(--br-5xs);
  width: 275px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-146xl) var(--padding-3xs)
    var(--padding-3xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.union-icon4 {
  position: relative;
  width: 206px;
  height: 233px;
}
.icon-container4 {
  position: absolute;
  top: 20.9px;
  left: 84.1px;
  width: 32.3px;
  height: 50.1px;
}
.thoughts-time4 {
  position: absolute;
  top: 88px;
  left: 63px;
}
.if-you-arent4 {
  position: absolute;
  top: 117px;
  left: 20px;
  font-size: var(--font-size-sm);
  line-height: 136%;
  color: var(--color-gray-400);
  text-align: center;
  display: inline-block;
  width: 166px;
}
.union-parent2 {
  position: absolute;
  top: 721px;
  left: 55px;
  width: 206px;
  height: 233px;
  font-size: var(--font-size-xs);
  color: var(--color-gray-200);
}
.frame-child105 {
  position: absolute;
  top: 735px;
  left: 139px;
  border-radius: 50%;
  background-color: var(--color-darkorange);
  filter: blur(17px);
  width: 38px;
  height: 38px;
  mix-blend-mode: overlay;
}
.frame-parent72 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  width: 315px;
  height: 1126px;
  overflow: hidden;
  font-size: var(--font-size-base);
  color: var(--color-gray-100);
}
.fackstocks5 {
  position: relative;
  line-height: 24px;
}
.fackstocks-wrapper3 {
  position: absolute;
  top: 34px;
  left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-400);
  font-family: var(--font-akaya-kanadaka);
}
.div92 {
  position: absolute;
  top: calc(50% - 1px);
  left: 37px;
}
.total-equity1 {
  position: absolute;
  top: 19px;
  left: 24px;
}
.parent27 {
  position: absolute;
  top: calc(50% - 85px);
  left: 759px;
  background-color: var(--color-lavender-100);
  width: 253px;
  height: 170px;
  overflow: hidden;
  color: var(--color-mediumblue);
}
.total-gain1 {
  position: absolute;
  top: 24px;
  left: 24px;
}
.div93 {
  position: absolute;
  top: 65px;
  left: 37px;
  font-size: var(--font-size-5xl);
  color: var(--color-green);
}
.total-gain-parent {
  position: absolute;
  top: 0px;
  left: 506px;
  background-color: var(--color-white);
  width: 253px;
  height: 169px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.div94 {
  position: absolute;
  top: 65px;
  left: 37px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.invested-group {
  position: absolute;
  top: 0px;
  left: 253px;
  background-color: var(--color-white);
  border-right: 3px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 256px;
  height: 169px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.div95 {
  position: absolute;
  top: 65px;
  left: 37px;
}
.balance2 {
  position: absolute;
  top: 24px;
  left: 24px;
  font-size: var(--font-size-base);
  color: var(--color-darkgray-100);
}
.parent28 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: var(--color-white);
  border-right: 3px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 256px;
  height: 169px;
  overflow: hidden;
  color: var(--color-black);
}
.frame-parent74 {
  position: absolute;
  top: 488px;
  left: 336px;
  border-radius: var(--br-5xs);
  border: 3px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 1018px;
  height: 176px;
  overflow: hidden;
  color: var(--color-darkgray-100);
}
.your-payment-cards {
  position: absolute;
  top: 24px;
  left: 32px;
  font-size: var(--font-size-5xl);
  font-family: var(--font-abeezee);
  color: var(--color-black);
}
.card4bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background: linear-gradient(167.6deg, #e42c66, #f55b46);
}
.card-4-mask {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div96 {
  position: absolute;
  width: 13.65%;
  top: calc(50% + 54px);
  left: 76.83%;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  height: 13px;
}
.div97 {
  position: absolute;
  width: 52.38%;
  top: calc(50% + 54px);
  left: 9.52%;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: inline-block;
  height: 13px;
  opacity: 0.9;
}
.mastercard-logo-icon {
  position: absolute;
  height: 19.51%;
  width: 14.29%;
  top: 13.59%;
  right: 9.52%;
  bottom: 66.9%;
  left: 76.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div98 {
  position: absolute;
  width: 46.03%;
  top: calc(50% - 40px);
  left: 9.52%;
  font-size: var(--font-size-9xl);
  font-weight: 500;
  display: inline-block;
  height: 26px;
}
.current-balance {
  position: absolute;
  width: 40%;
  top: calc(50% - 62px);
  left: 9.52%;
  font-weight: 500;
  display: inline-block;
  height: 13px;
  opacity: 0.54;
}
.card-4 {
  position: absolute;
  height: 62.8%;
  width: 40.59%;
  top: 26.96%;
  right: 5.28%;
  bottom: 10.24%;
  left: 54.12%;
}
.card1bg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  border-radius: var(--br-11xl);
  background: linear-gradient(177.23deg, #9c2cf3, #3a49f9);
}
.card-1 {
  position: absolute;
  height: 62.8%;
  width: 40.59%;
  top: 26.96%;
  right: 54.12%;
  bottom: 10.24%;
  left: 5.28%;
}
.mingcuteedit-line-icon {
  position: absolute;
  top: 26px;
  left: 276px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.your-payment-cards-parent {
  position: absolute;
  top: 146px;
  left: 337px;
  border-radius: var(--br-5xs);
  border: 2px solid var(--color-cornflowerblue);
  box-sizing: border-box;
  width: 780px;
  height: 297px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-cera-pro);
}
.your-top-portfolio {
  position: absolute;
  top: 711px;
  left: 339px;
}
.group-icon1 {
  position: absolute;
  height: 15.67%;
  width: 7.6%;
  top: 18.67%;
  right: 82.4%;
  bottom: 65.67%;
  left: 10%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.amazon10 {
  position: absolute;
  top: 26px;
  left: 76px;
}
.vector-icon15 {
  position: absolute;
  top: 75px;
  left: 23px;
  width: 112px;
  height: 44px;
}
.div102 {
  position: absolute;
  top: 75px;
  left: 169px;
}
.span1 {
  color: var(--color-red-100);
}
.div103 {
  position: absolute;
  top: 103px;
  left: 169px;
  font-size: var(--font-size-base);
}
.s {
  position: relative;
}
.s-wrapper {
  position: absolute;
  top: calc(50% - 49px);
  left: 183px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-red-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-red-100);
}
.b-wrapper {
  position: absolute;
  top: calc(50% - 49px);
  left: 233px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-green);
}
.group-group {
  position: absolute;
  top: 763px;
  left: 339px;
  border-radius: var(--br-5xs);
  border: 4px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.simple-iconshdfcbank {
  position: absolute;
  top: calc(50% - 55px);
  left: 20px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.hdfc {
  position: absolute;
  top: 24px;
  left: 68px;
}
.vector-icon16 {
  position: absolute;
  top: 75px;
  left: 23px;
  width: 112px;
  height: 44px;
  object-fit: contain;
}
.span2 {
  color: var(--color-green);
}
.s-container {
  position: absolute;
  top: calc(50% - 54px);
  left: 183px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-red-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-red-100);
}
.b-container {
  position: absolute;
  top: calc(50% - 54px);
  left: 233px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-green);
}
.simple-iconshdfcbank-parent {
  position: absolute;
  top: 763px;
  left: 695px;
  border-radius: var(--br-5xs);
  border: 4px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.s-frame {
  position: absolute;
  top: calc(50% - 52px);
  left: 183px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-red-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-red-100);
}
.b-frame {
  position: absolute;
  top: calc(50% - 52px);
  left: 233px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-green);
}
.grommet-iconsapple-parent {
  position: absolute;
  top: 763px;
  left: 1051px;
  border-radius: var(--br-5xs);
  border: 4px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.jsw {
  position: absolute;
  top: 22px;
  left: 68px;
}
.span4 {
  color: var(--color-forestgreen);
}
.mditire-parent {
  position: absolute;
  top: 953px;
  left: 339px;
  border-radius: var(--br-5xs);
  border: 4px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.microsoft-1-icon3 {
  position: absolute;
  top: calc(50% - 55px);
  left: 23px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.s-wrapper2 {
  position: absolute;
  top: calc(50% - 54px);
  left: 188px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-red-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-red-100);
}
.b-wrapper2 {
  position: absolute;
  top: calc(50% - 54px);
  left: 238px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-green);
}
.microsoft-1-parent1 {
  position: absolute;
  top: 953px;
  left: 695px;
  border-radius: var(--br-5xs);
  border: 4px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.ant-designamazon-circle-fille-icon10 {
  position: absolute;
  top: calc(50% - 55px);
  left: 20px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.vector-icon20 {
  position: absolute;
  top: 75.3px;
  left: 23px;
  width: 100.8px;
  height: 43.7px;
}
.s-wrapper3 {
  position: absolute;
  top: calc(50% - 50px);
  left: 183px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-red-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-red-100);
}
.b-wrapper3 {
  position: absolute;
  top: calc(50% - 50px);
  left: 233px;
  border-radius: var(--br-7xs);
  border: 2px solid var(--color-green);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-base);
  font-size: var(--font-size-xs);
  color: var(--color-green);
}
.ant-designamazon-circle-fille-parent8 {
  position: absolute;
  top: 953px;
  left: 1051px;
  border-radius: var(--br-5xs);
  border: 4px solid var(--color-lavender-100);
  box-sizing: border-box;
  width: 300px;
  height: 150px;
  overflow: hidden;
}
.rectangle-parent6 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-xs);
  box-shadow: 0px 10px 70px rgba(100, 37, 254, 0.04);
  width: 1440px;
  height: 1200px;
  overflow: hidden;
}
.desktop-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1200px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-abeezee);
}
